:root{
    --wa-green: #25D366;
    --bubble-user1: #dcf8c6;
    --bubble-user2: #ffffff;
    --bg: #e5ddd5;
    --chat-bg: #f0f0f0;
}

body, html, #root {
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: none;
}